<h4 class="d-flex justify-content-between align-items-center mb-3">
    <span class="text-primary">Ubicacion Reservada actual</span>
</h4>
<div class="card mb-0 shadow-sm" style="padding: 0.5rem 1rem;">
    <div class="list-group-item d-flex justify-content-between lh-sm">
        <div>
            <h6 class="my-0">Vehiculo</h6>
            <medium class="text-muted">ABC-123</medium>
        </div>
    </div>
    <div class="list-group-item d-flex justify-content-between lh-sm">
        <div>
            <h6 class="my-0">Hora Inicio</h6>
            <medium class="text-muted">@DateTime.Now.AddMinutes(-106)</medium>
        </div>
    </div>
    <div class="list-group-item d-flex justify-content-between lh-sm">
        <div>
            <h6 class="my-0">Hora Fin</h6>
            <medium class="text-muted">@DateTime.Now.AddMinutes(145)</medium>
        </div>
    </div>
    <div class="list-group-item d-flex justify-content-between lh-sm">
        <div>
            <h6 class="my-0">Costo Actual</h6>
            <medium class="text-muted">$ 80.26</medium>
        </div>
    </div>
</div>