<h4 class="d-flex justify-content-between align-items-center mb-3">
    <span class="text-primary">Zona</span>
</h4>
<div class="card mb-0 shadow-sm" style="padding: 0.5rem 1rem;">
    <div class="list-group-item d-flex justify-content-between lh-sm">
        <div>
            <h6 class="my-0">Color</h6>
            <medium class="text-muted">@zona.Color</medium>
        </div>
    </div>
    <div class="list-group-item d-flex justify-content-between lh-sm">
        <div>
            <h6 class="my-0">Costo 2hs</h6>
            <medium class="text-muted">$ @zona.Costo2hs</medium>
        </div>
    </div>
    <div class="list-group-item d-flex justify-content-between lh-sm">
        <div>
            <h6 class="my-0">Costo 4hs</h6>
            <medium class="text-muted">$ @zona.Costo4hs</medium>
        </div>
    </div>
</div>


@code {
    [Parameter] public Zona zona { get; set; }

}
