@inherits LayoutComponentBase



<section class="min-vh-100 d-flex align-items-center bg-soft" style="background: url(img/login.jpg);background-size: cover;">
    <div class="container">
        @Body
    </div>
</section>
