@inherits LayoutComponentBase


<AuthorizeView>
    <Authorized>
        <DigipModal />
        <NavMenu />
        <main>
            <section class="text-dark mt-7">                
                    @Body                
            </section>
        </main>

        <footer class="mt-auto text-white-50">
            <p>Sistema de Estacionamiento Medido Powered by Grupo 7 © 2017–2021</p>
        </footer>
    </Authorized>
    <NotAuthorized>
        <EstacionamientoMedido.Pages.Auth.RedirectToLogin></EstacionamientoMedido.Pages.Auth.RedirectToLogin>
    </NotAuthorized>
</AuthorizeView>